@charset "utf-8";

// @import "~bulma/bulma.sass";

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";

// @import "~bulma/sass/elements/_all.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/content.sass";
@import "~bulma/sass/elements/icon.sass";
@import "~bulma/sass/elements/title.sass";

// @import "~bulma/sass/form/_all.sass";
@import "~bulma/sass/form/shared.sass";
@import "~bulma/sass/form/input-textarea.sass";
@import "~bulma/sass/form/tools.sass";

// @import "~bulma/sass/components/_all.sass";
$navbar-breakpoint: $tablet;
@import "~bulma/sass/components/navbar.sass";

// @import "~bulma/sass/grid/_all.sass";

// @import "~bulma/sass/layout/_all.sass";
@import "~bulma/sass/layout/section.sass";

x-app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

x-app > main {
  flex: 1;
}

x-mandelbrot canvas {
  display: block;
  width: 100%;
  height: 100%;
}

router-link {
  cursor: pointer;
  outline: none;
}
